body{

	background: linear-gradient(rgba(0, 0, 50, 0.5),rgba(0, 0, 50, 0.5)),url(A.jpg);
	background-size: cover;
	background-position: center;
}

.login-box{

	max-width: 700px;
	float: none;
	margin: 150px auto;
}

.style{
	font-size: 20px;
	margin: 10px;
	color: black;
}

.text{

	height: 25px;'
	border-radius: 5px;
	padding: 4px;
	border: solid thin #aaa;
}